@page
@model BookStoreM9.Models.PurchaseConfirmationModel
@{
}

<div class="text-center">
    <h2>Thanks for your order! We'll get that sent to you right away!</h2>
    <br />
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>